@charset "UTF-8";
body{
  background: #f2f2f2; overflow-x: hidden;
}
a{
    -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.navbar{
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 99999;
  background: none;
  border: none;
  box-shadow: none;
}

.navbar .mobile-banner{
  width: 100%;
  display: none;
}
.navbar .navbar-brand{
  display: none;
}
.navbar .container-fluid{
  width: 300px;
  padding: 0px;
  position: absolute;
  top: 20px;
}
.navbar .navbar-toggle{
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: -149px;
  top: -3px;
}
.navbar button{
  width: 150px;
  border: none;
}
.navbar button img{
  width: 100%;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
  background: none;
}
.nav>li>a:hover,
.nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a{
  background: #22567e;
  color: #fff;
}

.navbar .navbar-collapse{
  display: block;
  width: 150px;
  background: #22567e;
  position: absolute;
  top: 20px;
  left: 0px;
  border: none;
  padding: 0px;
  margin: 0px;
  margin-left: -151px;
  transition: transform 0.3s linear;
}
.navbar .navbar-collapse.left {
  transform: translateX(0px);
}
.navbar .navbar-collapse.right {
  transform: translateX(150px);
}
.navbar .navbar-collapse ul{
  margin: 0px;
}
.navbar .dropdown-menu{
  padding: 0px;
  min-width: 100%;
}
.navbar .dropdown-menu li{
  background: #366589;
  margin-bottom: 1px;
}
.navbar .dropdown-menu li a{
  color: #fff!important;
  padding: 5px 0 5px 15px!important;
  font-size: 12px;
}
.navbar .btnDiv{
  display: none;
}
.carousel img{
  width: 100%;
}
.carousel .item{
  background: url(../img/img_banner.png) ;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.thumbnail{
  padding: 0px;
  border-radius: 0px;
  box-shadow: 0 0 0;
  border: none;
}
.thumbnail img{
  width: 100%;
}

.footer{
  background: #fff;
  padding: 20px;
  text-align: center;
}
.footer .row{
  margin: 0px;
  padding: 20px 0 0 0;
}
.footer .row>div{
  padding: 0px 20px;
}
.footer .links{
  display: none;
}
.footer .add{
  font-size: 14px;
  color: #333;
  line-height: 14px;
  margin-bottom: 8px;
}
.footer .cp{
  padding-top: 20px;
  font-size: 14px;
  color: #999;
  line-height: 20px;
}
.footer .qr-code{
  font-size: 12px;
  text-align: center;
}
.footer .qr-code img{
  width: 91px;
  height: 91px;
  margin-bottom: 10px;
  display: inline-block;
}
.footer .qr-code span{
  color: #999;
  display: block;
}
.pageT{
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.pageT strong{
  font-size: 20px;
  color: #2e2e2e;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}
.pageT span{
  font-size: 12px;
  color: #9aa0b1;
}
.pageNav{
  padding: 0 20px;
}
/* 小屏幕 */
@media (max-width: 320px) {

}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .navbar-collapse.collapse,
  .navbar-toggle{
    display: block!important;
  }
  .navbar-nav,
  .navbar-nav li{
    float: none;
  }
  .navbar .dropdown-menu{
    padding: 0px;
    min-width: 100%;
    background: none;
  }
  .navbar .dropdown-menu li{
    background: #366589;
    margin-bottom: 1px;
  }
  .navbar .dropdown-menu li a{
    color: #fff!important;
    padding: 5px 0 5px 15px!important;
    font-size: 13px;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .navbar {
    display: block;
    background: #fff;
    margin-bottom: 0px;
    position: relative;
  }
  .navbar .navbar-header{
    margin: 15px 0 0 0;
  }
  .navbar .glyphicon{
    color: #ccc;
    font-size: 12px;
    margin-left: 10px;
  }
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand{
    height: auto;
  }
  .navbar .container-fluid{
    width: 1200px;
    padding: 0px;
  }
  .navbar .mobile-banner{
    display: none;
  }
  .navbar .navbar-brand{
    display: block;
  }
  .navbar .container-fluid{
    position: static;
  }
  .navbar .btnDiv{
    float: right;
    margin-top: 45px;
    display: block;
  }
  .navbar .btn {
    width: auto;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 20px;
  }
  .navbar .btn.btn-default {
    background: none;
    color: #3f82ff;
    border: 1px solid #3f82ff;
  }
  .navbar .btn.btn-primary {
    background: #3f82ff;
    color: #fff;
    border: 1px solid #3f82ff;
  }
  .navbar-nav,
  .navbar-nav li{
    float: left;
  }
  .navbar-nav>li{
    min-width: 120px;
  }
  .navbar-nav>li>a{
    line-height: 90px;
    text-align: center;
    font-size: 16px;
  }
  .navbar-default .navbar-nav>li>a{
    background: none;
    color: #333;
  }
  .nav>li>a:hover,
  .nav>li>a:focus,
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover{
    color: #3f82ff;
    background: #fff;
    box-shadow: inset 0 3px 9px rgba(255,255,255,0);
  }

  .navbar .navbar-collapse{
    width: auto;
    background: none;
    position: static;
    border: none;
    padding: 0px;
    /*transform: translateX(0px)!important;*/
  }
  .navbar .navbar-collapse ul{
    margin: 0px;
  }
  .navbar .dropdown-menu li{
    width: 100%;
    background: none;
    margin-bottom: 0px;
  }
  .navbar-nav>li>.dropdown-menu{
    min-width: 100%;
    border: none;
    border-radius: 0px;
    text-align: center;
    border-top: 2px solid #3f82ff;
    padding: 0px;
    background: #fff;
  }
  .navbar-nav>li>.dropdown-menu:after{
    content: "";
    display: block;
    width: 0; 
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-top: 5px transparent dashed;
    border-left: 4px transparent dashed;
    border-bottom: 5px transparent dashed;
    border-color: transparent #3f82ff transparent transparent;
    transform: rotate(90deg);
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -5px;
  }
  .navbar-nav>li>.dropdown-menu li a{
    line-height: 30px;
    padding: 0px;
    color: #333!important;
    padding: 5px 0!important;
    text-align: center;
    font-size: 14px;
  }
  .navbar-nav>li>.dropdown-menu li a:hover{
    background: #3f82ff;
    color: #fff!important;
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: 100%;
    margin-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    border-top: 2px solid #3f82ff;
  }
  .navbar-brand{
    padding: 0px;
  }
  .carousel .item{
    height: 500px;
  }
  .footer{
    padding: 0px;
  }
  .footer .row{
    margin: 0 auto;
    padding: 60px 0 30px 0;
  }
  .footer .row>div{
    padding: 0px;
    max-width: 1200px;
  }
  .footer .row1{
    background: #1b2f50;
  }
  .footer .row1 .row{
    max-width: 1200px;
  }
  .footer .row2{
    background: #1b2639;
  }
  .footer .links{
    display: block;
    margin-bottom: 30px;
    margin-left: 48px;
  }
  .footer .links>div{
    float: left;
    width: 160px;
    text-align: left;
  }
  .footer .links strong{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin-bottom: 30px;
  }
  .footer .links a{
    color: #fff;
    font-size: 16px;
    display: block;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
  }
  .footer .cp{
    max-width: 1200px;
    padding: 30px 48px;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    margin: 0 auto;
    text-align: left;
  }
  .footer .qr-code{
    width: 110px;
    text-align: center;
    padding: 0px;
  }
  .footer .qr-code img{
    width: 110px;
    height: 110px;
  }
  .footer .qr-code span{
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
  }

  .pageNav{
    text-align: center;
    font-size: 12px;
    padding: 0;
  }
  .pageNav ul{
    margin:0px;
  }
  .pageNav ul a{
    float: none;
    color: #444242;
  }
  .pageNav ul a:hover{
    background: #3f82ff;
    color: #fff;
  }
  .pageNav ul li{
    margin: 0 2px;
  }
  .pageNav ul li.disabled a,
  .pageNav ul li.disabled a:hover{
    color: #aaa!important;
  }
  .pageT{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .pageT strong{
    font-size: 34px;
    color: #2e2e2e;
    font-weight: normal;
    display: block;
    margin-bottom: 10px;
  }
  .pageT span{
    font-size: 16px;
    color: #9aa0b1;
  }
}
